{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
	<div class="col-sm-10">
		<h3 class="text-white my-5">About Page</h3>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sed quos nulla culpa maxime, dignissimos expedita quae iusto debitis eveniet.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit dolores placeat ab quod fugit maxime! A similique nemo id dolore facere commodi quaerat, libero saepe sit aspernatur cupiditate mollitia dolorum, aut obcaecati? Repellat et repellendus delectus voluptates iusto saepe placeat maxime dolor velit, pariatur ex deleniti debitis inventore iure quo.</p>
	</div>
{% endblock content %}